<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-greyngs/blob/main/1_Python_for_Data_Science_course/Module_4-Working_with_data_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Jorge Steven Reyes - A01794421

## Module 4 - Working with Data in Python

### Reading Files

In [ ]:
# Read the Example1.txt
example1 = "assets/example1.txt"
file1 = open(example1, "r")

print(file1.name)
print(file1.mode)
print("--------------")

FileContent = file1.read()
print(FileContent)
print("--------------")

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)
print("--------------")

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))
print("--------------")

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

assets/example1.txt
r
--------------
This is line 1
This is line 2
This is line 3
--------------
This is line 1
This is line 2
This is line 3
--------------
This is line 1

This
is line 2
--------------
Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
exmp2 = 'assets/example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
# Copy file to another
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
        for line in readfile:
                writefile.write(line)

# Verify if the copy is successfully executed
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

### Pandas

In [3]:
import pandas as pd
csv_path = 'assets/cities.csv'
df = pd.read_csv(csv_path)
df.head()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

df['a'].unique()
df[df['a']<2]

In [ ]:
# My own notes

data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
print(df) 

# Read
df = pd.read_csv('data.csv')
#pd.options.display.max_rows = 9999
print(df) 

# Important methods:

# read_csv()
# head()
# describe()
# memory_usage()
# astype()
# loc[:]
# to_datetime()
# value_counts()
# drop_duplicates()
# groupby()
# merge()
# sort_values()
# fillna()

# The next link is really interesting to learn more about
# the use of pandas and the easy way to do the basics
# cleaning data and advance
# https://www.w3schools.com/python/pandas/default.asp